#mycarousel{
    background-color:blue;
}
#mycarousel img{
    height:300px;
    margin-top:35px;
}
.carousel-inner p{
    margin-bottom:15px;
    margin-top:15px;
    color:burlywood;
    font-size:20px;
}
body{
    text-align:center;
    background-color:black;
}